<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>controller.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopnow</servlet-name>
        <servlet-class>controller.shopnow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>type_car</servlet-name>
        <servlet-class>controller.type_car</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detail</servlet-name>
        <servlet-class>controller.detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>controller.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>controller.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>controller.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manager</servlet-name>
        <servlet-class>controller.manager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>controller.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>controller.add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>controller.edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>controller.cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>option</servlet-name>
        <servlet-class>controller.option</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bill</servlet-name>
        <servlet-class>controller.bill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addOP</servlet-name>
        <servlet-class>controller.addOP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOP</servlet-name>
        <servlet-class>controller.deleteOP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editOP</servlet-name>
        <servlet-class>controller.editOP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>color_car</servlet-name>
        <servlet-class>controller.color_car</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopnow</servlet-name>
        <url-pattern>/shopnow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>type_car</servlet-name>
        <url-pattern>/type_car</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manager</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>option</servlet-name>
        <url-pattern>/option</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bill</servlet-name>
        <url-pattern>/bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addOP</servlet-name>
        <url-pattern>/addOP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOP</servlet-name>
        <url-pattern>/deleteOP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editOP</servlet-name>
        <url-pattern>/editOP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>color_car</servlet-name>
        <url-pattern>/color_car</url-pattern>
    </servlet-mapping>
</web-app>
